---
import { getCollection } from 'astro:content';
import PortfolioCard from './PortfolioCard.astro';
const posts = await getCollection("project");
---
<section class="portfolio">
    <div class="site-wrapper">
        <div class="portfolio-list">
    {posts.map((post: any) => 

    <PortfolioCard imgsrc={post.data.thumbImgSrc} 
                   imgalt={post.data.thumbImgAlt || ""} 
                   title={post.data.title} 
                   client={post.data.client}
                   description={post.data.description}
                   link={`/portfolio/${post.id}/`}/>
        
)}
</div>
</div>
</section>