---
const { imgsrc, imgalt, title, client, description, link, ...props } = Astro.props;
import { Picture } from 'astro:assets';
---

<article class="card">
<div class="content">
    <figure role="img">
        <img src ={imgsrc} alt={imgalt} loading="lazy" decoding="async"/>
        </figure>
<p class="project-client-name">{client}</p>
<h3 class="project-title">{title}</h3>
<p class="project-description">{description}</p>
<div class="link-row">
    <a role="button" class="btn primary filled" href={link}>View project</a>
    </div>
</div>
</article>